.shownotice {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &-container {
    width: 100%;
    max-width: 1100px;

    &-area {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 1rem 1.2rem;
      margin-top: 1rem;
      border-bottom: 4px solid #25822e;

      &-title {
        font-size: 2rem;
        font-weight: 600;
      }

      &-date {
        color: #606060;
      }
    }

    &-content {
      width: 100%;
      height: 100%;
      min-height: 50rem;
      padding: 3rem;
      border-bottom: 1px solid #c7c7c7;
    }

    &-btn {
      width: 7rem;
      height: 3rem;
      border-radius: 4px;
      background-color: #25822e;
      font-weight: 600;
      color: #ffffff;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.1s;
      margin-top: 1rem;
      float: right;
    }
  }
}
